    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    .h-100px {
        height: 100px
    }

    .app_nav {
        box-shadow: 0px 0px 6px 0px #c7c7c7;
        border-top: 5px solid #01aaef;
        position: relative;
    }

    .app_nav:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: #095c84;
        top: 0;
        left: 0;
    }

    .clearfix {
        clear: both;
    }