@font-face {
    font-family: "Dekers";
    font-style: normal;
    font-weight: 400;
    src: local('Dekers_Bold'), local('Dekers_Bold'), url(../fonts/Dekers.ttf) format('ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

/*navigation*/

.navbar-style {
    background: transparent;
}

.navbar-style.nav-up,
.navbar-style.bg-in {
    background: #fff;
    box-shadow: 0 10px 25px -15px #999;
}

.navbar-style .brand-logo {
    font-family: "Dekers","Raleway";
    font-size: 25px;
    color: #f26725;
}

.navbar-style .brand-logo:hover,
.navbar-style .brand-logo:focus {
    color: #f26725;
}

.navbar-style .brand-logo img {
    /* width: 80px; */
    height: 80px;
    transition: all .3s;
    background: #fff;
    padding: 10px;
}
.navbar-style.nav-up .brand-logo img {
    padding: 0;
}
.navbar-style.nav-up .brand-logo img {
    /* width: 40px; */
    height: 40px;
}

.navbar-style .navbar-nav li a {
    color: #f26725;
}

.navbar-style .navbar-nav li.active a {
    border-bottom: 2px solid #f26725;
}

.navbar-style .navbar-nav li a {
    margin: 0 10px;
}

.parallax {
    height: 450px;
    background-image: url('../images/img_parallax.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    text-align: center;
}

.parallax .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 450px;
    padding: 70px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-section.parallax .overlay {
    padding-top: 120px;
}

.header-section {
    color: #c7c7c7
}

.header-section .title {
    color: #fff;
    font-size: 50px;
    background: transparent;
    padding: 15px;
    text-shadow: 1px 1px 1px #000;
    font-weight: 100;
}

.header-section .title span {
    color: #f26725;
    font-weight: 600;
}


/*about*/

.section-view {
    padding: 90px 0;
}

.parallax.about-section {
    background-image: url('../images/img_parallax.jpg');
    height: 180px;
    background-position: center;
}

.parallax.about-section .overlay {
    height: 180px;
}

.about-section .title {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.about-section .title span {
    font-weight: bold;
}

.services {
    background-color: #f7f7f7;
}

.services_grid_1 .item {
    min-height: 444px
}

.services_grid_2 .item {
    min-height: 546px;
}

.services_grid_3 .item {
    min-height: 373px;
}

.services .item {
    margin-bottom: 30px;
    padding: 50px 30px;
    background-color: #fff;
    box-shadow: 0 5px 30px -5px #ccc;
    text-align: center;
    transition: all .3s;
}

.services .item:hover {
    box-shadow: 0 5px 30px -5px #888;
}

.services .item h3 {
    color: #545454;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
    transition: all .1s;
}

.services .item:hover h3 {
    color: #f26725;
}

.project_img {
    height: 100px;
}

.carousel-control-prev,
.carousel-control-next {
    background: #f26725;
    padding: 25px 0;
    opacity: 1;
    width: 40px;
    height: 13px;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}

#contact {
    background: #f7f7f7;
    padding: 40px 0;
    color: #545454;
}

.input-control {
    height: 60px;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #f26725;
    border-radius: 0;
}

.input-control:focus {
    background-color: transparent;
    border-color: #f26725;
    outline: 0;
    box-shadow: none;
}

textarea.input-control {
    height: auto;
    box-shadow: none;
}

footer {
    background: #333;
    padding: 40px 0;
}

footer,
footer a {
    color: #c7c7c7;
}

footer a:hover {
    color: #f26725;
    text-decoration: none;
}

.footer-nav-list li {
    margin-bottom: 8px;
}

footer hr {
    margin-left: 0;
}



/*repeate class*/

.section-title {
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: lighter;
    color: #545454;
}

.section-title span {
    font-weight: bold;
    color: #f26725;
}

.hr_min {
    width: 30px;
    height: 2px;
    background: #f26725;
}

.btn-outline-orange {
    color: #f26725;
    background-color: transparent;
    background-image: none;
    border-color: #f26725;
}

.btn-outline-white {
    color: #b0b0b0;
    background-color: transparent;
    background-image: none;
    border-color: #6b6a6a;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #f26725;
    border-color: #f26725;
}

.btn-outline-white:hover {
    color: #f26725;
    background-color: #fff;
    border-color: #fff;
}

.icon {
    width: 20px;
    margin: 7px 9px 9px;
}

.icon-md {
    width: 80px;
}

.text-orange {
    color: #f26725;
}
.text-gray{
    color: #545454;
}

@media (max-width: 480px) {
    .section-title {
        font-size: 35px;
    }
    .section-view {
        padding: 30px 0;
    }
    .section-view h1 {
        font-size: 25px;
    }
    .carousel-control-prev {
        display: none;
    }
    .carousel-control-next {
        display: none;
    }
}